@charset "utf-16";
#container
{
    width: 760px;
    height: auto;
    margin: auto;
}
#menu{
    height: 50px;
    background-color: lightblue;
}
#menu a{
    width: 84px;
    float:left;
    padding: 50px 0 0 0 ;
    height: 0px !important;
    background:no repeat 0 0px ;
}
#menu a[data-atribute="about"]{
    background: url("../about.gif");
    background-position: 0 -100px;
}
#menu a[data-atribute="portfolio"] {
    width: 100px;
    background: url("../portfolio.gif");
}
#menu a[data-atribute="services"] {
    background: url("../services.gif");

}

#menu a[data-atribute="contact"] {
    background: url("../contact.gif");

}
 #menu a.selected {
     background-position: 0 -100px !important;
 }
#menu a.selected:hover {
    background-position: 0 -50px !important;
}


#menu a:hover {
    background-position: 0 -100px !important;
}
header{

    width: 760px;
    height: 150px;
    background-image: url("../1.jpg") ;
    background-size: 100% 100%;
    position: relative;
}
header form{
    position: absolute;
    right: 100px;
    bottom: 2px;
}
#content{

    width: 400px;
    height: auto;
}
#sidebar{

    height: auto;
    float: left;
    width: 340px;
}

@media {
    header {
        display: none;
      }
}
@media (max-width: 600px)
{
    #sidebar{
        display:none;
    }
    body{

    }
}
#footer {
    width: 760px;
    height: 66px;

}
h1 {
    color: orange;
    font-family: Arial, Verdana ;
    font-size: 25 px;
    margin: 0;
}
footer {
    position relative;

}
footer p{
    font-family: ;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size 50px;
}